{% extends 'base.html.twig' %}
{% block title %}Contacto{% endblock %}
{% block body%}

            <!-- Page Header Start -->
            <div class="container py-5 px-2 bg-primary">
                <div class="row py-5 px-4">
                    <div class="col-sm-6 text-center text-md-left">
                        <h1 class="mb-3 mb-md-0 text-white text-uppercase font-weight-bold">Contact Me</h1>
                    </div>
                    <div class="col-sm-6 text-center text-md-right">
                        <div class="d-inline-flex pt-2">
                            <h4 class="m-0 text-white"><a class="text-white" href="">Home</a></h4>
                            <h4 class="m-0 text-white px-2">/</h4>
                            <h4 class="m-0 text-white">Contact Me</h4>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- Contact Start -->
            <div class="container bg-white pt-5">
                <div class="row px-3 pb-2">
                    <div class="col-sm-4 text-center mb-3">
                        <i class="fa fa-2x fa-map-marker-alt mb-3 text-primary"></i>
                        <h4 class="font-weight-bold">Address</h4>
                        <p>123 Street, New York, USA</p>
                    </div>
                    <div class="col-sm-4 text-center mb-3">
                        <i class="fa fa-2x fa-phone-alt mb-3 text-primary"></i>
                        <h4 class="font-weight-bold">Phone</h4>
                        <p>+012 345 6789</p>
                    </div>
                    <div class="col-sm-4 text-center mb-3">
                        <i class="far fa-2x fa-envelope mb-3 text-primary"></i>
                        <h4 class="font-weight-bold">Email</h4>
                        <p>info@example.com</p>
                    </div>
                </div>
                <div class="col-md-12 pb-5">
                {{ form_start(form, {'attr': {'class':'contact-form'}}) }}
                {{ form_errors(form) }}
                    <div class="form-group">
                        <div class="col-xs-6">
                            {{ form_row(form.firstName, {'attr': {'class':'form-control'}}) }}
                        </div>
                        <div class="col-xs-6">
                            {{ form_row(form.lastName, {'attr': {'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            {{ form_row(form.email, {'attr': {'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            {{ form_row(form.subject, {'attr': {'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            {{ form_row(form.message, {'attr': {'class':'form-control'}}) }}
                            {{ form_row(form.Send, {'attr': {'class':'btn btn-primary'}}) }}
                        </div>
                    </div>
                {{ form_end(form) }}
                </div>

            </div>
            <!-- Contact End -->
{% endblock %}